{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% if form.vars.value['name'] == 'search' %}
        {% if error != "" %}
            <span class="alert-danger">{{ error }}</span>
        {% endif %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form)}}

    {% else %}
    {{ form_start(form) }}
    <div class="card-title" style="text-align: center;margin-top: 5px;"><h1>Csomag státusz léptetés</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Jelenlegi státusza:</b> {{ package.transferStatus.name }}</p>
                {{ form_widget(form.transferStatus) }}
                {{ form_widget(form.save) }}<br>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% endif %}
{% endblock %}
