{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div style="text-align: center;"><h1 style="text-align: center;margin-top:5px;margin-bottom:40px;">Profilom</h1></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="fos_user_user_show">
                <p><b>{{ 'profile.show.username'|trans }}:</b> {{ user.username }}</p>
                <p><b>Teljes név:</b> {{ user.fullname }}</p>
                <p><b>Cím:</b> {{ user.address.name }}</p>
                <p><b>{{ 'profile.show.email'|trans }}:</b> {{ user.email }}</p>
                <p><b>Beosztás:</b> {{ user.role.name }}</p>
                <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Szerkeztés</a>
            </div>
        </div>
    </div>
</div>
