<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assetic/bootstrap_css_bootstrap_1.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class=" navbar-collapse" id="navbarSupportedContent" style="background-color: #e3f2fd;">
                        <ul class="nav nav-tabs col-lg-12" style="background-color: #e3f2fd;">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if app.user.role.id == 1 %}
                                <li class="nav-item"><a class="nav-link" href="{{path('package_index')}}">Rendelések</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{path('tag_index')}}">Tags felvétele</a></li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Státusz léptetés</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">Csomag státusz léptetés</a>
                                        <a class="dropdown-item" href="{{path('change_package_transfer_status')}}">Szállító státusz léptetés</a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Raktár</a>
                                <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">Raktár nézet váltás</a>
                                            <a class="dropdown-item" href="{#{{ path('address_storage') }}#}#">Raktárak</a>
                                            <a class="dropdown-item" href="{{ path('address_new') }}">Raktár felvétel</a>
                                            <a class="dropdown-item" href="{{ path('remove_storage') }}">Raktár törlés</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="nav-item offset-5">
                                    <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profilom: {{ app.user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path("fos_user_security_logout")}}">Kijelentkezés</a>
                                </li>
                            {% endif %}
                        {% elseif app.user.role.id == 2 %}
                            <li class="nav-item"><a class="nav-link" href="{{path('package_index')}}">Rendelések</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Státusz léptetés</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{path('change_package_transfer_status')}}">Szállító Státusz léptetés</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Raktár</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">Raktár nézet váltás</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="nav-item offset-6">
                                    <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profilom: {{ app.user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path("fos_user_security_logout")}}">Kijelentkezés</a>
                                </li>
                            {% endif %}
                        {% elseif app.user.role.id == 3 %}
                            <li class="nav-item"><a class="nav-link" href="{{path('package_index')}}">Csomagjaim</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('package_new')}}">Új csomag felvitel</a></li>
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{path('package_index')}}">Feladott Csomagjaim</a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{path('package_new')}}">Új csomag feladása</a>#}
{#                                </li>#}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="nav-item offset-7">
                                    <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profilom: {{ app.user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path("fos_user_security_logout")}}">Kijelentkezés</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item offset-11">#}
                                <a class="nav-link" href="{{path("fos_user_security_login")}}">Bejelentkezés</a>#}
                            </li>
                        {% endif %}
                        {% endif %}


                        </ul>

                    </div>
                </nav>
        <div class="container-fluid">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.request.requestUri == "/Transport/web/app_dev.php"%}
            <div class="container">
                <div class="alert alert-success" role="alert">
                    Szia {{ app.user.username }}, üdvözöllek az oldalunkon.
                </div>
            </div>
            {% endif %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
          {% javascripts '@jquery' '@bootstrap_js' %}
          <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
          <script type="text/javascript" src="{{ asset_url }}"></script>
{#              <script type="text/javascript" src="{{ asset('js/DateTimePicker/jquery.min.js') }}"></script>#}
{#              <script type="text/javascript" src="{{ asset('assetic/jquery.js') }}"></script>#}
              <script type="text/javascript" src="{{ asset('assetic/bootstrap_js.js') }}"></script>
              {#          <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>#}
{#              <script type="text/javascript" src="{{ asset('js/DateTimePicker/jquery.min.map') }}"></script>#}
          {% endjavascripts %}
        {% endblock %}
    </body>
</html>


<!--
php composer.phar

php -d memory_limit=-1 composer.phar
-->
