<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assetic/bootstrap_css_bootstrap_1.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container-fluid">
        {% block body %}
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Csomag feladás</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav col-lg-12">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Csomagjaim <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            {% if is_granted("ROLE_USER") %}
                                <li class="nav-item offset-8">
                                    <a class="nav-link" href="{{path("fos_user_security_logout")}}">Logout</a>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                </nav>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
          {% javascripts '@jquery' '@bootstrap_js' %}
          <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
          <script type="text/javascript" src="{{ asset_url }}"></script>
          <script type="text/javascript" src="{{ asset('assetic/jquery.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assetic/bootstrap_js.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </body>
</html>


<!--
php composer.phar

php -d memory_limit=-1 composer.phar
-->
