{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="col-lg-12" style="text-align: center;margin-top: 5px"><h1>Csomag lista</h1></div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tulajdonos</th>
                <th>Csomag státusz</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Szállító státusz</th>
                {% endif %}
                <th>Felvitel dátum</th>
                <th>Kézbesítés dátum</th>
                <th>Honna</th>
                <th>Hova</th>
                <th>Tag</th>
                <th>Művelet</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{% if package.owner is not null %}{{ package.owner.username }}{% else %}{% endif %}</td>
                <td>{{ package.packageStatus.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ package.transferStatus.name }}</td>
                {% endif %}
                <td>{% if package.requestDate %}{{ package.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if package.deliveredDate %}{{ package.deliveredDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ package.startAddress.name }}</td>
                <td>{{ package.targetAddress.name }}</td>

                <td>{% if package.tag is not null %}{{ package.tag.name }}{% else %}{% endif %}</td>

                <td>
                    <a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('package_show', { 'id': package.id }) }}">Megtekintés</a><br><br>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('package_edit', { 'id': package.id }) }}">Módosítás</a><br><br>

                    {% endif %}

                    {% if is_granted('ROLE_SZALLITO') %}
                        {% if package.courier is not null and package.courier.user == app.user and package.transferStatus.id == 1 %}
                        <a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('give_package_to_storage', { 'id': package.id }) }}">Leadás</a><br><br>
{#                        <a class="btn btn-primary" class="nav-link" href="{{path('package_change_status', {'id': package.id})}}">Státusz léptetés</a>#}
                            {% elseif package.currentPosition is not null and package.currentPosition == app.user.storage and package.courier is null %}
                                <a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('get_package_from_storage', { 'id': package.id }) }}">Felvétel</a><br><br>
                            {% elseif package.currentPosition is null and package.transferStatus.id == 3 %}
                                <a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('set_package_complet', { 'id': package.id }) }}">Kézbesítés</a><br><br>
                            {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('package_new') }}">Új csomag felvitel</a>

{% endblock %}
