{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    {{ form_start(edit_form) }}
    {{ form_start(delete_form) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h1 style="text-align: center;margin-top:5px;margin-bottom:40px;">Tag szerkeztés</h1></div>
            <div class="col-lg-1">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-lg-2">
                {{ form_widget(edit_form.name) }}
            </div>
            <div class="col-lg-4">
                <input class="btn btn-primary" type="submit" value="Szerkeztés"/>
                <input class="btn btn-danger" type="submit" value="Törlés">
            </div>
            <div class="col-lg-12"><div style="margin-top:20px;"><a class="btn btn-primary" href="{{ path('tag_index') }}">Vissza a listához</a></div></div>
        </div>
    </div>
    {{ form_end(delete_form) }}
    {{ form_end(edit_form) }}
{% endblock %}
