{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="col-lg-12" style="text-align: center;margin-top: 5px"><h1>Tag</h1></div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ tag.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-primary" style="margin: 5px;" href="{{ path('tag_index') }}">Vissza a listához</a><br>
        <a class="btn btn-primary" style="margin: 5px;" href="{{ path('tag_edit', { 'id': tag.id }) }}">Módosítás</a>
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" style="margin: 5px;" type="submit" value="Törlés">
        {{ form_end(delete_form) }}
{% endblock %}
